@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-dark: #1f2937;
  --color-card: #ffffff;
}

body {
  @apply bg-gray-50 text-gray-900;
}
